* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #f8f4ec;
}

section {
    background-color: white;
    border-radius: 5px;
    border: .8px solid  gray;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.actions {
    display: flex;
    gap: .4rem;
    padding: .7rem;
    justify-content: center;
}
.actions button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.actions button:hover {
    opacity: 0.8;
    transform: scale(.01);
}
.actions button:first-child {
    background-color: red;
    color: white;
}
.actions button:last-child {
    background-color: green;
    color: white;
}